/* Variables */
:root {
   --basic-red: #EE3643;
   --basic-red-hover: #CA2C37;
   --basic-red-click: #BA2732;
   --basic-gray:#32425C;
   --basic-gray-darker: #293449;
   --basic-gray-lighter: #32425C;
   --basic-gray-extra-light: #A9A9A9;
   --basic-gray-hover: rgb(197,197,197,0.3);
   --basic-gray-active: rgb(169,169,169,0.3);
   --basic-gray-border: #EAEAEA;
   --basic-gray-border-pages: #E5E5E5;
   --basic-peach: #F7F3EC;
   --basic-extra-peach: #F7F3EC;
   --basic-light: #F9F5F0;
   --basic-extra-light: #F1F5F7;
   --basic-better-light: #F2F6F8;
   --basic-green: #63A63E;
   --basic-green-active: #5FBB2D;
   --basic-lightgreen: #8ED78F;
   --basic-orange: #FFBF47;
   --basic-light-orange: #FFC047;
   --basic-yellow: #FFD180;
   --basic-yellow-click: rgb(255,209,128,0.5);
   --basic-blue: #3BBCE3;
   --basic-pink: #DC91D8;
   --basic-white: #FFFFFF;
   --basic-white-opacity: rgb(255,255,255,0.3);
   --basic-white-opacity-half: rgb(255,255,255,0.5);
   --basic-white-opacity-half2: rgb(241,245,247,0.5);
   --basic-white-active: #C5C5C5;
   --basic-black: #000000;
   --basic-black-active: #161D29;
}

/* Global */
body {
   margin: 0;
   padding: 0;
   font-family: "Cuprum", sans-serif;
   font-size: 14px;
   line-height: 24px;
   font-weight: 700;
   background-repeat: no-repeat;
   min-width: 960px;
}

a {
   text-decoration: none;
}

li {
   list-style: none;
}

img {
   max-width: 100%;

}

h1{
   color: var(--basic-red);
   font-size: 16px;
   font-style: italic;
   line-height: 25px;
   font-weight: 23px;
}

/* grid */

.menu-container{
   display: grid;
   grid-template-columns: 220px auto;
}


/* Main navigation */

.main-header-menu {
   background: var(--basic-gray);
   height: 42px;
}

.search-form {
   width: 271px;
   min-height: 42px;
}

/*Header*/

.header-info-container{
   display: grid;
   grid-template-columns: repeat(3,auto);
   padding-top: 46px;
}

.header-info-catalog{
   display: grid;
   grid-template-columns: repeat(2,auto) 300px;
   padding-top: 46px;
}

.header-info-container h1,
.header-info-container h2{
   margin: 0;
   font-weight: 400;
}

.main-header-info {
   min-height: 278px;
}

.main-header-info,
.services {
   background-color: var(--basic-extra-light);
}

.main-logo:hover{
   opacity: 0.24;
}

.phone-call{
   margin: 0 auto;
}

.phone-call p{
   color: var(--basic-gray-lighter);
   font-size: 14px;
   line-height: 24px;
   text-align: center;
}

.phone-call h2{
   border: 3px solid var(--basic-white);
   width: 270px;
   text-decoration: none;
   text-align: center;
   padding: 5px 0;
}

.phone-call-info {
   color: var(--basic-red);
   font-style: 21px;
   font-weight: bold;
   line-height: 30px;
   text-align: center;
}

.login-link,
.registration-link {
   color: var(--basic-black);
   font-size: 21px;
   line-height: 21px;
   
}

.user-menu{
   justify-self: end;
}

.user-menu-list{
   display: flex;
   margin: 0;
   padding: 0;
}


.login-form-name{
   padding: 0;
   margin: 0;
}

.top-login a{
   color: var(--basic-black);
   font-size: 21px;
   line-height: 21px;
   font-weight: normal;
   text-align: center;
}

.top-login{
   display: flex;
   justify-content: flex-end;
}

.top-login li{
   background-color: var(--basic-white);
   margin:0;
   padding: 12px 57px 12px 56px;
   width: 186px;
}

.login-form-name p{
   margin:0;
   padding:0;
}

.bottom-login{
   display: flex;
   flex-wrap: wrap;
   position: relative;
   justify-content: flex-end;
   margin-right: 33px;
   margin-top: 7px;
}

.bottom-login a{
   color: var(--basic-black);
   font-size: 16px;
   line-height: 18px;
   font-weight: normal;
   text-align: center;
   color: var(--basic-gray-lighter);
}

.bottom-login li:first-child{
   margin-right: 28px;
}

.bottom-login li:last-child{
   margin-right: 17px;
}

.bottom-login li:first-child::after{
   content: "";
   width: 4px;
   height: 5px;
   background-color: var(--basic-gray-lighter);
   background-position: 0 0;
   position: absolute;
   top: 9px;
   right: 130px;
   border-radius: 4px;

}

.user-menu-list a:hover{
   color: var(--basic-red);
}

.user-menu-list a:active{
   color: var(--basic-white-active);
}

.user-menu-list li{
   background-color: var(--basic-white);
   padding: 10px;
   text-decoration: none;
   text-align: center;
}

.user-menu-list li:first-child{
   margin-right: 10px;
}

.main-header-submenu {
   background-color: var(--basic-gray-lighter);
   margin-top: 20px;
}

.site-navigation{
   display: flex;
   margin: 0;
}

.header-bookmark::before{
   content: "";
   width: 14px;
   height: 15px;
   background-image: url("../img/icon-bookmark.svg");
   background-repeat: no-repeat;
   background-position: 0 0;
   position: absolute;
   top: 13px;
   left: 22px;
   opacity: 0.3;
}

.header-basket::before{
   content: "";
   width: 15px;
   height: 15px;
   background-image: url("../img/icon-cart.svg");
   background-repeat: no-repeat;
   background-position: 0 0;
   position: absolute;
   top: 13px;
   left: 24px;
   opacity: 0.3;
}


/* Главные кнопки навигации Header */

.main-header-list {
   display: flex;
   margin:0;
   padding: 0;
   height: 42px;
}

.main-header-list a{
   color: var(--basic-white);
   font-size: 18px;
   font-weight: 400;
}


.main-header-list li:nth-child(2),
.main-header-list li:nth-child(3),
.main-header-list li:last-child{
   width: 150px;
   color: white;
   padding: 10px 0;
   text-decoration: none;
   text-align: center;
   position: relative;
}

.main-header-list li:nth-child(2):active,
.main-header-list li:nth-child(3):active,
.main-header-list li:last-child:active {
   background-color: var(--basic-gray-darker);
}

.main-header-list li:last-child {
   background-color: var(--basic-green);
}


/* Стилизация кнопок субменю-навигации header */

.site-navigation a{
   display:block;
   color: var(--basic-white);
   font-size: 18px;
   line-height: 24px;
   font-weight: normal;
   padding: 16px 27px;
}

.site-navigation li:hover{
   background-color: var(--basic-gray-darker);
}

.site-navigation a:active{
   color: var(--basic-white-opacity);
}


/*main*/

/* Каталог основные стили карточек */
.main-catalog-container{
   width: 940px;
   display: grid;
   grid-template-columns: 220px 700px;
   gap: 20px;
   margin: 0 auto;
}

.breadcrumbs-container{
   width: 940px;
   margin: 0 auto;
}

.breadcrumbs {
   display: flex;
   flex-wrap: wrap;
   margin: 21px 0 20px 0;
}

.filter-top{
   display: flex;
   flex-wrap: wrap;
   width: 940px;
   margin: 0 auto;
   margin-top: 20px;
}

.filter-left,
.filter-right{
   background-color: var(--basic-extra-peach);
}

.filter-left{
   margin-right: 20px;
   max-height: 38px;
   width: 220px;
}

.filter-right {
   width: 700px;
   max-height: 38px;
   padding: 0;
   margin: 0;
} 


.filter-left p,
.filter-right-container p,
.filter-right-container li{
   margin:0;
   padding:0;
}

.filter-left p{
   padding: 10px 151px 10px 18px;
   font-size: 13px;
   line-height: 18px;
   font-weight: 400;
}


.filter-right-container li:first-child{
   margin-right: auto;
}

.filter-right-container {
   display: flex;
   flex-wrap: wrap;
   padding: 7px 105px 6px 20px;
}

.filter-right-container li:nth-child(2){
   margin-right: 70px;
}

.filter-right-container li:nth-child(3){
   margin-right: 65px;
}



.catalog{
   padding-top: 59px;
}

.catalog-list{
   display: grid;
   grid-template-columns: repeat(3,300px);
   grid-template-rows: repeat(3,123px);
   gap: 20px;
   padding: 0;
   margin: 0;
}

.icon-6 {
   grid-column-start: 1;
   grid-column-end: 3;
   grid-row-start: 2;
   grid-row-end: 4;
}

.catalog-item {
   width: 300px;
   height: 123px;
   background-color: var(--basic-gray-extra-light);
   margin: 0;
   padding: 0;
}

.catalog-item h3{
   color: var(--basic-white);
   font-size: 24px;
   line-height: 30px;
}

.catalog-item:first-child {
   background-color: var(--basic-orange);
}

.catalog-item{
   position: relative;
}

/* Флажок нового товара */

.products-type {
   position: relative;
   
}

.materials-icon::before{
   background-image: url("../img/materials.svg") no-repeat 5px;
   width: 100;
   height: 100;
}

.catalog-item:nth-child(2){
   background-color: var(--basic-blue);
}

.catalog-item:nth-child(3){
   background-color: var(--basic-pink);
}

.catalog-item:nth-child(4){
   background-color: var(--basic-green);
}

.catalog-item:nth-child(5) {
   background-color: var(--basic-light-orange);
}

.catalog-item:last-child{
   height: 266px;
   width: 620px;
   background-image: url(../img/perforator1.jpg);
}

.catalog-item:last-child h3 {
   color: var(--basic-white);
   text-transform: uppercase;
   font-size: 36px;
   font-weight: bold;
   line-height: 36px;
}

.catalog-item:last-child p{
   color: var(--basic-white);
   font-weight: normal;
   font-style: normal;
   font-size: 18px;
   line-height: 24px;
}

/* Кнопки первой секции каталога*/

.button-catalog-item {
   color: var(--basic-white);
   padding: 15px 30px;
   text-decoration: none;
   text-transform: uppercase;
}

.button-yellow,
.button-blue,
.button-pink,
.button-green,
.button-orange{
   background-color: var(--basic-white-opacity-half);
}

.button-yellow:hover,
.button-blue:hover,
.button-pink:hover,
.button-green:hover,
.button-orange:hover{
   background-color: var(--basic-gray-hover);
}

.button-yellow:active,
.button-blue:active,
.button-pink:active,
.button-green:active,
.button-orange:active {
   background-color: var(--basic-gray-active);
}

/* Стили текста красных кнопок*/
.catalog-item:last-child a,
.products-header a,
.manufacturers-header a,
.contacts-info a,
.contacts-button{
   font-size: 14px;
   line-height: 18px;
   color: var(--basic-white);
   text-transform: uppercase;
}

/* Стилизация красных кнопок */
.button-red {
   background: var(--basic-red);
   border: 0;
   margin-left: auto;
   padding: 11px 24px 9px;
}

.button-red:hover{
   background-color: var(--basic-red-hover);
}

.button-red:active{
   background-color: var(--basic-red-click);
}

.inner-container{
   display: flex;
   align-items: center;
   background-color: var(--basic-peach);
   padding: 29px 28px 30px;
}

.perforators-container{
   background-color: var(--basic-better-light);
}

.manufacturers-type{
   padding: 20px 0 70px 0;
}


.products-header h2,
.manufacturers-header h2{
   margin:0;
}

.products-header-button,
.manufacturers-button{
   margin-left: auto;
   padding: 11px 24px 9px;
}

.products-header h2,
.manufacturers-header h2,
.services h2,
.advantages-item h3,
.contacts-info h2,
.contacts-address h2{
   font-size: 30px;
   line-height: 30px;
   text-transform: uppercase;
}

.products-list{
   display: grid;
   grid-template-columns: repeat(4,220px);
   gap: 20px;
   padding: 20px 0 70px 0;
   margin:0;
}

.products-catalog-list{
   display: grid;
   grid-template-columns: repeat(3,220px);
   gap: 20px;
   padding: 20px 0 70px 0;
   margin:0;
}

.products-cards .products-type{
   height: 318px;
   width: 220px;
}

.products-type {
   border: 1px solid var(--basic-gray-border);
   text-align: center;
}

.button-red-buy {
   background: var(--basic-red);
   height: 38px;
   width: 141px;
   border: 0;
}

.products-type a,
.products-type s {
   font-family: "PT Sans";
}

.products-type .products-price,
.products-type s {
   font-size: 17px;
   line-height: 18px;
   font-weight: bold;
}

.products-type .products-price {
   color: var(--basic-white);
}

.products-type s{
   color: var(--basic-gray-extra-light);
}

.products-type h3{
   font-size: 18px;
   line-height: 20px;
   width: 185px;
   height: 43px;
   margin: auto;
   color: var(--basic-black);
}

.services-container{
   display: grid;
   grid-template-columns: 240px 70%;
   padding: 0 0 99px 0;
}

.services-logo h2,
.services-logo p{
   margin: 0;
   padding: 0;
}

.services-logo{
   padding-top: 64px 0 0 0;
}

.services-logo p{
   padding: 25px 0 0 0;
}

.services-list{
   grid-column-start: 1;
   grid-column-end: 2;
}

.services-list,
.services-advantages{
   margin:0;
   padding:0 0 0 70px;
}

.advantages-item h3{
   margin: 0;
}

.services-list,
.advantages-item{
   padding: 70px 0 0 0;
}


/* изображение грузовика*/
/*
.services-advantages::after{
   content: url("../img/truck.png");
   display: flex;
   float: right;
}
*/

.manufacturers-list {
   display: grid;
   grid-template-columns: repeat(4,220px);
   gap: 20px;
   padding: 0;
}

/* Карточки производителей */

.manufacturers-item{
   border: 1px solid var(--basic-gray-border);
   width: 220px;
   height: 145px;
   text-align: center;
}


.services p,
.contacts-info p,
.contacts-address p{
   font-family: "PT Sans";
   font-style: normal;
   font-weight: normal;
   font-size: 13px;
   line-height: 24px;
   width: 394px;
}

.services-button {
   width: 240px;
   height: 61px;
   font-size: 21px;
   font-weight: bold;
   line-height: 30px;
}

.button.services-button:hover{
   background-color: var(--basic-gray-darker);
}

.button.services-button:active{
   background-color: var(--basic-white);
}


.services-list li:first-child button{
   color: var(--basic-gray-lighter);
   background-color: var(--basic-white);
}

.services-list li:nth-child(2) button,
.services-list li:last-child button{
   color: var(--basic-white);
   background-color: var(--basic-gray-lighter);
}

.advantages-item h3{
   color: var(--basic-gray-lighter);
}

.contacts-company li{
   color: var(--basic-black);
   font-size: 18px;
   line-height: 24px;
}

.button-info {
   width: 220px;
   height: 38px;
}

/*Выстроить тире по центру (???)*/
.contacts-company li{
   list-style-image: url(../img/liststyle.png);
}

.contacts-info-description{
   width: 460px;
   height: 147px;
}

.contacts-info-description p{
   margin: 0;
   width: 460px;
}

.contacts-button {
   width: 300px;
   height: 38px;
}

.contacts-container{
   display: grid;
   grid-template-columns: 60% 40%;
   padding: 70px 0;
}

/* footer */

.first-footer{
   display: grid;
   grid-template-columns: 40% 60%;
   padding: 0 0 64px 0;
}

.footer-navigation{
   padding-top: 37px;
}

.footer-navigation-list{
   margin:0;
   padding: 0;
}

.page-footer{
   background-color: var(--basic-gray-lighter);
}

.footer-logo {
   width: 220px;
   height: 68px;
}

.footer-logo a{
   font-size: 28px;
}

.footer-address{
   color: var(--basic-white);
}

.footer-address,
.footer-navigation-list a{
   font-style: normal;
   font-weight: normal;
   font-size: 18px;
   line-height: 24px;
}

.address-block {
   width: 321px;
   height: 49px;
}

.footer-navigation-list .footer-white-link{
   color: var(--basic-white);
}

.footer-navigation-list .footer-yellow-link {
   color: var(--basic-yellow);
}

.footer-white-link li:first-child:hover,
.footer-white-link li:nth-child(2):hover,
.footer-white-link li:nth-child(3):hover,
.footer-white-link li:nth-child(4):hover,
.footer-white-link li:last-child:hover,
.footer-yellow-link li:first-child:hover,
.footer-yellow-link li:nth-child(2):hover,
.footer-yellow-link li:nth-child(3):hover,
.footer-yellow-link li:nth-child(4):hover,
.footer-yellow-link li:last-child:hover {
   text-decoration: underline;
}

.footer-white-link:active {
   color: var(--basic-white-opacity-half2)
}
.footer-yellow-link:active{
   color: var(--basic-yellow-click);
}


.deep-footer {
   background-color: var(--basic-gray-darker);
}

.rights-text,
.footer-social a,
.footer-feedback p,
.footer-feedback a,
.footer-copyright p,
.footer-copyright a {
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 18px;
   color: var(--basic-white);
}

.footer-feedback a,
.footer-copyright a {
   color: var(--basic-yellow);
}

.vk-icon,
.fb-icon,
.insta-icon {
   width: 44px;
   height: 44px;
}

.social-icon{
   text-indent: 100%;
   white-space: nowrap;
   overflow: hidden;
}

.footer-feedback a:hover,
.footer-copyright:hover{
   text-decoration: underline;
}

.footer-feedback a:active,
.footer-copyright a:active {
   color: var(--basic-red-click)
}

.deep-footer-container{
   display: grid;
   grid-template-columns: repeat(3,auto);
}

.social-container,
.feedback-container{
   display: flex;
}

.feedback-container{
   justify-content: flex-end;
}

.footer-copyright{
   padding-left: 51px;
}

.container{
   max-width: 940px;
   margin: 0 auto;
}

.products-header{
   margin-top: 59px;
}

.perforators-header{
   margin:0 auto;
}

.header-logo-icon:hover{
   opacity: 0.24;
}

.footer-white-link,
.footer-yellow-link {
   display: flex;
   justify-content: flex-end;
}

.footer-white-link li{
   margin-left: 58px;
}

.footer-yellow-link li{
   margin-left: 58px;;
}

.yellow-container {
   margin: 34px 0 0 0;
}

.pages{
   width: 460px;
   margin: 0 auto;
   margin-bottom: 59px;
}

.pages-list {
   margin:0;
   padding: 0;
   display: flex;
   flex-wrap: wrap;
}



.pages-list a{
   font-size: 13px;
   font-weight: 400;
   line-height: 18px;
   display: block;
   padding: 10px 15px;
   border: 1px solid var(--basic-gray-border-pages);
   margin-right: 10px;
   color: var(--basic-black);
}

.page-buttom-red{
   background-color: var(--basic-red);
}

.services-wrapper h2,
.services-wrapper p{
   padding: 0;
   margin: 0;
}

.services-wrapper p{
   width: 907px;
}

.services-wrapper {
   padding: 64px 130px 68px 130px;
}

/* Замена цвета иконок*/