/* Variables */
:root {
   --basic-red: #EE3643;
   --basic-red-hover: #CA2C37;
   --basic-red-click: #BA2732;
   --basic-gray-dark-active: #1D2739;
   --basic-gray:#32425C;
   --basic-gray-darker: #293449;
   --basic-gray-lighter: #32425C;
   --basic-gray-extra-light: #A9A9A9;
   --basic-gray-hover: rgb(197,197,197,0.3);
   --basic-gray-active: rgb(169,169,169,0.3);
   --basic-gray-border: #EAEAEA;
   --basic-peach: #F7F3EC;
   --basic-light: #F9F5F0;
   --basic-extra-light: #F1F5F7;
   --basic-green: #63A63E;
   --basic-green-active: #5FBB2D;
   --basic-lightgreen: #8ED78F;
   --basic-orange: #FFBF47;
   --basic-light-orange: #FFC047;
   --basic-yellow: #FFD180;
   --basic-yellow-click: rgb(255,209,128,0.5);
   --basic-blue: #3BBCE3;
   --basic-pink: #DC91D8;
   --basic-white: #FFFFFF;
   --basic-white-opacity: rgb(255,255,255,0.3);
   --basic-white-opacity-half: rgb(255,255,255,0.5);
   --basic-white-opacity-half2: rgb(241,245,247,0.5);
   --basic-white-active: #C5C5C5;
   --basic-black: #000000;
   --basic-black-active: #161D29;
}

/* Global */
body {
   margin: 0;
   padding: 0;
   font-family: "Cuprum", sans-serif;
   font-size: 14px;
   line-height: 24px;
   font-weight: 700;
   color: var(--basic-black);
   background-color: var(--basic-white);
   background-repeat: no-repeat;
}

a {
   text-decoration: none;
}

li {
   list-style: none;
}

img {
   max-width: 100%;

}

h1{
   color: var(--basic-white);
   font-size: 24px;
   line-height: 24px;
   font-weight: 400;
   font-style: normal;
   font-family: "Cuprum","Arial",sans-serif;
   text-transform: uppercase;
   text-decoration: none;
   text-align: left;
   color: var(--basic-white);
   margin: 0 0 0px 15px;
}

.page{
   height: 100%;
}

.page-body{
   min-height: 100%;
   display: grid;
   grid-template-rows: min-content 1fr min-content;
   align-content: start;
}

/* Main navigation */

.main-header-list a:hover,
.main-header-list a:visited,
.main-header-list a:focus,
.main-header-logo a:hover,
.main-header-logo a:focus,
.main-header-logo a:visited {
   color: var(--basic-white);
}



/* Grid */

.grid {
   display: grid;
   grid-template-rows: repeat(3,auto);
   width: 1200px;
   margin-left: auto;
   margin-right: auto;
}

/* header-grid */

.grid-header-menu {
   display:grid;
   grid-template-columns: 130px 220px auto;
   grid-template-rows: 42px; 
   
}

.grid-header-menu-list {
   display: grid;
   grid-template-columns: 271px 150px 150px 150px;
   margin: 0 0 0 15px;
   padding: 0;
}

.header-info-grid{
   display: grid;
   grid-template-columns: 197px auto auto;
   margin: 0 130px 0 160px;
   padding-top: 46px;
}

.user-list-grid{
   display: grid;
   grid-template-columns: auto auto;
   column-gap: 10px;
   padding: 0;
}

.site-navigation-grid { /* нужно исправить все отступы внутри кнопок */
   display: grid;
   grid-template-columns: repeat(4,122px) repeat(3,auto);
   grid-template-rows: 42px; 
   padding: 0;
}

/* main-grid */

.catalog-list-grid {
   display: grid;
   grid-template-columns: repeat(3,300px);
   grid-template-rows: repeat(4,auto);
   gap: 20px;
   border:0;
}

.icon-6 {
   grid-column-start: 1;
   grid-column-end: 3;
   grid-row-start: 2;
   grid-row-end: 4;
}

.products-header-grid {
   display: grid;
   grid-template-columns: repeat(2,auto);
}

.product-list-grid {
   display: grid;
   grid-template-columns: repeat(4, 220px);
   column-gap: 20px;
   margin: 20px 0 0 109px;
}

.manufacturers-grid{
   display: grid;
   grid-template-columns: repeat(2,auto);
}

.manufacturers-list-grid {
   display: grid;
   grid-template-columns: repeat(4,220px);
   grid-template-rows: repeat(2,145px);
   gap: 20px;
}

.services-grid{
   display: grid;
   grid-template-rows: repeat(2,auto);
   grid-template-columns: 300px 600px;
}

.services-logo{
   grid-column-start: 1;
   grid-column-end: 3;
}

.services-item-grid{
   display: grid;
   grid-column-start: 1;
   grid-column-end: 4;
   grid-template-columns: 300px 600px;
}

.services-advantages{
   grid-column-start: 2;
   grid-column-end: 3;
}

.contacts-grid{
   display: grid;
   grid-template-columns: 60% 40%;
}

/* footer-grid*/

.first-footer-grid{
   display: grid;
   grid-template-columns: 30% 70%;
   
}

.footer-navigation-list-grid {
   display: grid;
   grid-template-rows: repeat(2,auto);
   margin: 0;
}

.footer-white-link-grid {
   display: grid;
   grid-template-columns: repeat(5,auto);
   margin-top: 37px;
}

.footer-yellow-link-grid{
   display: grid;
   grid-template-columns: repeat(4,auto);
   margin: 34px 0 0 36px;
}

.deep-footer-container {
   display: grid;
   grid-template-columns: 244px 450px 170px 100px;
}

.footer-social-grid{
   display: grid;
   grid-template-columns: repeat(3,auto);
}


/* */

/*Header*/


.header-logo-icon a{
   display: inline-block;
   width: 165px;
   padding: 11px 0 7px 55px;
   
   background-color: var(--basic-red);
}

.header-logo-icon a:hover{
   background-color: var(--basic-red-hover);
}

.header-logo-icon a:active{
   background-color: var(--basic-red-click);
}

.main-header-menu {
   background: var(--basic-gray-lighter);
}

.main-header-info,
.services {
   background-color: var(--basic-extra-light);
   height: 278px;
   position: relative;
}


.main-header-info h2{
   color: var(--basic-red);
   font-size: 15px;
   font-style: italic;
   line-height: 25px;
}

.search-form {
   width: 271px;
   height: 42px;
}

.phone-call {
   margin: 0 69px 0 93px;
}

.phone-call p{
   color: var(--basic-gray-lighter);
   font-size: 14px;
   line-height: 24px;
}

.phone-call-border{
   border: 3px solid var(--basic-white);
   width: 270px;
   text-decoration: none;
   text-align: center;
}

.phone-call-info h2{
   color: var(--basic-red);
   font-size: 21px;
   font-style: normal;
   font-weight: bold;
   line-height: 30px;
   text-align: center;
   margin: 0;

}

.login-link,
.registration-link {
   color: var(--basic-black);
   font-size: 21px;
   line-height: 21px;
   
}

.user-menu-list a:hover{
   color: var(--basic-red);
}

.user-menu-list a:active{
   color: var(--basic-white-active);
}

.login-link{
   background: url(../img/icon-logout.svg) no-repeat;
   padding-left: 26px;
}

.user-menu-list li{
   background-color: var(--basic-white);
   padding: 10px;
   text-decoration: none;
   width: 121px;
   text-align: center;
}

.main-header-submenu {
   background-color: var(--basic-gray-lighter);
   /*   ширина блока кнопки!  */
   width: 940px;
   margin-left: 148px;
}

/* Главные кнопки Header */

.main-header-list li:last-child,
.main-header-list li:nth-child(2),
.main-header-list li:nth-child(3),
.site-navigation li{
   font-size: 18px;
   font-weight: 400;
   width: 150px;
   color: var(--basic-white);
   padding: 6px 0 6px 0;
   text-decoration: none;
   text-align: center;
}

.main-header-list li:nth-child(2):hover,
.main-header-list li:nth-child(3):hover{
   background-color: var(--basic-gray-darker);
}

.main-header-list li:nth-child(3):active,
.main-header-list li:nth-child(2):active{
   background-color: var(--basic-gray-dark-active);
}

.main-header-list li:last-child{
   background-color: var(--basic-green);
}


.main-header-list li:last-child:hover{
   background-color: var(--basic-green-active);
}

.main-header-list a:last-child:active{
   color: var(--basic-white-opacity);
}


/* Стилизация кнопок субменю-навигации header */



.site-navigation a{
   color: var(--basic-white);
   font-size: 18px;
   line-height: 24px;
   font-weight: normal;
}

.site-navigation li:hover{
   background-color: var(--basic-gray-darker);
}

.site-navigation li:active{
   background-color: var(--basic-gray-dark-active);
}

/*main*/

/* Каталог основные стили карточек */
.catalog {
   margin-left: 110px;
}

.catalog-item {
   width: 300px;
   height: 123px;
   background-color: var(--basic-gray-extra-light);
}

.catalog-item h3{
   color: var(--basic-white);
   font-size: 24px;
   line-height: 30px;
}

.catalog-item:first-child {
   background-color: var(--basic-orange);
}

.catalog-item{
   position: relative;
}

/* Флажок нового товара */

.products-type {
   position: relative;
   
}

.materials-icon::before{
   background-image: url("../img/materials.svg") no-repeat 5px;
   width: 100;
   height: 100;
}

.catalog-item:nth-child(2){
   background-color: var(--basic-blue);
}

.catalog-item:nth-child(3){
   background-color: var(--basic-pink);
}

.catalog-item:nth-child(4){
   background-color: var(--basic-green);
}

.catalog-item:nth-child(5) {
   background-color: var(--basic-light-orange);
}

.catalog-item:last-child{
   height: 266px;
   width: 620px;
   background-image: url(../img/perforator1.jpg);
}

.catalog-item:last-child h3 {
   color: var(--basic-white);
   text-transform: uppercase;
   font-size: 36px;
   font-weight: bold;
   line-height: 36px;
}

.catalog-item:last-child p{
   color: var(--basic-white);
   font-weight: normal;
   font-style: normal;
   font-size: 18px;
   line-height: 24px;
}

/* Кнопки первой секции каталога*/

.button-catalog-item {
   color: var(--basic-white);
   padding: 15px 30px;
   text-decoration: none;
   text-transform: uppercase;
}

.button-yellow,
.button-blue,
.button-pink,
.button-green,
.button-orange{
   background-color: var(--basic-white-opacity-half);
}

.button-yellow:hover,
.button-blue:hover,
.button-pink:hover,
.button-green:hover,
.button-orange:hover{
   background-color: var(--basic-gray-hover);
}

.button-yellow:active,
.button-blue:active,
.button-pink:active,
.button-green:active,
.button-orange:active {
   background-color: var(--basic-gray-active);
}

/* Стили текста красных кнопок*/
.catalog-item:last-child a,
.products-header a,
.manufacturers-header a,
.contacts-info a,
.contacts-button{
   font-size: 14px;
   line-height: 18px;
   color: var(--basic-white);
   text-transform: uppercase;
}

/* Стилизация красных кнопок */
.button-red {
   background: var(--basic-red);
   height: 38px;
   width: 192px;
   border: 0;
}

.button-red:hover{
   background-color: var(--basic-red-hover);
}

.button-red:active{
   background-color: var(--basic-red-click);
}

.products-header,
.manufacturers-header {
   background-color: var(--basic-peach);
   width: 940px;
   height: 89px;
   margin-left: 149px;
}

.products-header-button {
   position: relative;
   top: 25%;
   transform: translate(105%, 0);
}

.manufacturers-button {
   position: relative;
   top: 25%;
   transform: translate(77%, 0);
}

.manufacturers-header {
   margin-top: 70px;
}

.manufacturers-header h2,
.products-header h2 {
   padding-left: 28px;
}

.products-header h2,
.manufacturers-header h2,
.services h2,
.advantages-item h3,
.contacts-info h2,
.contacts-address h2{
   font-size: 30px;
   line-height: 30px;
   text-transform: uppercase;
}

.products-cards .products-type{
   height: 318px;
   width: 220px;
}

.products-type {
   border: 1px solid var(--basic-gray-border);
   text-align: center;
}

.button-red-buy {
   background: var(--basic-red);
   height: 38px;
   width: 141px;
   border: 0;
}

.products-type a,
.products-type s {
   font-family: "PT Sans";
}

.products-type .products-price,
.products-type s {
   font-size: 17px;
   line-height: 18px;
   font-weight: bold;
}

.products-type .products-price {
   color: var(--basic-white);
}

.products-type s{
   color: var(--basic-gray-extra-light);
}

.products-type h3{
   font-size: 18px;
   line-height: 20px;
   width: 185px;
   height: 43px;
   margin: auto;
   color: var(--basic-black);
}



.manufacturers-list{
   margin-left: 108px;
}

/* скрытый текст*/

.manufacturers-list h3{
   text-indent: 100%;
   white-space: nowrap;
   overflow: hidden;
}

/* Карточки производителей */

.manufacturers-item{
   border: 1px solid var(--basic-gray-border);
   width: 220px;
   height: 145px;
   text-align: center;
}

.manufacturers-item img{
   /* Как разместить иконки их по центру??? */
}

.services {
   height: 522px;
   position: relative;
}

.services-advantages{
   padding: 0;
   margin: 0;
}

.advantages-item{
   bottom: 10px;
   position: relative;
}

.services-list{
   padding:0;
}

.services-logo{
   margin-top: 64px;
}

.services-logo,
.services-item-grid{
   margin-left: 130px;
}


/* изображение грузовика*/
.services-advantages::after{
   content: url("../img/truck.png");
   position: absolute;
   right: 12%;
   top: 50%;
}


.services p,
.contacts-info p,
.contacts-address p{
   font-family: "PT Sans";
   font-style: normal;
   font-weight: normal;
   font-size: 13px;
   line-height: 24px;
   width: 394px;
}

.services-button {
   width: 240px;
   height: 61px;
   font-size: 21px;
   font-weight: bold;
   line-height: 30px;
}

.button.services-button:hover{
   background-color: var(--basic-gray-darker);
}

.button.services-button:active{
   background-color: var(--basic-white);
}


.services-list li:first-child button{
   color: var(--basic-gray-lighter);
   background-color: var(--basic-white);
}

.services-list li:nth-child(2) button,
.services-list li:last-child button{
   color: var(--basic-white);
   background-color: var(--basic-gray-lighter);
}

.advantages-item h3{
   color: var(--basic-gray-lighter);
}

.contacts{
   height: 469px;
   margin-left: 131px;
}

.contacts img{
   margin: 32px 0 25px 0;
}

.contacts-company li{
   color: var(--basic-black);
   font-size: 18px;
   line-height: 24px;
}

.button-info {
   width: 220px;
   height: 38px;
}

/*Выстроить тире по центру (???)*/
.contacts-company li{
   list-style-image: url(../img/liststyle.png);
}

.contacts-company {
   margin-bottom: 25px;
}

.contacts-info-description{
   width: 460px;
   height: 147px;
}

.contacts-info-description p{
   margin: 0;
   width: 460px;
}

.contacts-button {
   width: 300px;
   height: 38px;
}

/* footer */
.page-footer{
   background-color: var(--basic-gray-lighter);
}

.first-footer{
   height: 193px;
   margin-left: 130px;
}

.footer-logo {
   width: 220px;
   height: 68px;
}

.footer-logo a{
   font-size: 28px;
}

.footer-address{
   color: var(--basic-white);
}

.footer-address,
.footer-navigation-list a{
   font-style: normal;
   font-weight: normal;
   font-size: 18px;
   line-height: 24px;
}

.address-block {
   width: 321px;
   height: 49px;
}

.footer-navigation-list .footer-white-link{
   color: var(--basic-white);
}

.footer-navigation-list .footer-yellow-link {
   color: var(--basic-yellow);
}

.footer-white-link:hover,
.footer-yellow-link:hover {
   text-decoration: underline;
}

.footer-white-link:active {
   color: var(--basic-white-opacity-half2)
}
.footer-yellow-link:active{
   color: var(--basic-yellow-click);
}


.deep-footer {
   background-color: var(--basic-gray-darker);
}

.footer-social{
   margin: 0 118px 0 161px;
}

.rights-text,
.footer-social a,
.footer-feedback p,
.footer-feedback a,
.footer-copyright p,
.footer-copyright a {
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 18px;
   color: var(--basic-white);
}

.footer-feedback a,
.footer-copyright a {
   color: var(--basic-yellow);
}

.vk-icon,
.fb-icon,
.insta-icon {
   width: 44px;
   height: 44px;
}

.social-icon{
   text-indent: 100%;
   white-space: nowrap;
   overflow: hidden;
}

.footer-feedback a:hover,
.footer-copyright:hover{
   text-decoration: underline;
}

.footer-feedback a:active,
.footer-copyright a:active {
   color: var(--basic-red-click)
}

.deep-footer-container{
   margin-left: 131px;
}

/* Замена цвета иконок*/

/* Каталог */

.product-button {
   width: 135px;
   height: 38px;
   border-radius: 2px;
}

.buy-button{
   background-color: var(--basic-green);
}

.product-button a{
   font-size: 14px;
   line-height: 18px;
   align-items: center;
   text-align: center;
   text-transform: uppercase;
   color: var(--basic-white);
}

.bookmark-button{
   background-color: var(--basic-white);
   border: 2px solid var(--basic-green);
}

.bookmark-button a{
   color: var(--basic-black);
}