:root {
   --basic-red: #EE3643;
   --basic-gray:#32425C;
   --basic-gray-darker: #293449;
   --basic-gray-lighter: #32425C;
   --basic-gray-extra-light: #A9A9A9;
   --basic-peach: #F7F3EC;
   --basic-light: #F9F5F0;
   --basic-extra-light: #F1F5F7;
   --basic-green: #63A63E;
   --basic-lightgreen: #8ED78F;
   --basic-orange: #FFBF47;
   --basic-yellow: #FFD180;
   --basic-blue: #3BBCE3;
   --basic-pink: #DC91D8;
}